:root {
    --primary-color: #15ac8e;
    --primary-color-darkest: #083d33;
    --primary-color-darker2: #0d5748;
    --primary-color-darker: #11977d;
    --warning-color: #6b5900;
    --warning-color-bg: #ffe5644d;
    --warning-color-border: #e7c000;
}
html.huyan {
    --primary-color: #4fc058;
}
html.haitian {
    --primary-color: #7d94cb;
}
html.fugu {
    --primary-color: #cdc27d;
}
html.darkest {
    --warning-color: #e7c000;
    --warning-color-bg: var(--bg-color-page);
}
p {
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
}
p > code {
    background-color: var(--bg-color-page);
    color: var(--primary-color);
    border-radius: 4px;
    padding: 2px 6px;
    margin: 0 2px;
}
img {
    max-width: 100%;
}
a {
    color: var(--primary-color);
    text-decoration: none !important;
    transition-duration: 0.2s;
    transition-property: color;
}

a:hover {
    color: var(--primary-color-darker);
}

mark a,
mark .md-content.md-url {
    color: var(--primary-color-darker2);
}
mark a:hover {
    color: var(--primary-color-darkest);
}

.ty-preferences a {
    color: var(--primary-color);
}

.code-card {
    position: relative;
}
.code-card .lang {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    cursor: pointer;
}
pre {
    padding: 10px;
    border-radius: 6px;
    overflow: auto;
    background-color: var(--bg-color-page);
    font-size: 14px;
}
pre .token.operator {
    background: transparent;
}

 /*TABLE*/

 table {
    font-size: 0.875rem;
    padding: 0;
    margin: 1.5rem 0;
    word-break: initial;
}

table tr {
    border-top: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
    margin: 0;
    padding: 0;
}

table tr.md-end-block {
    border-top: none;
}

table tbody tr:last-child {
    border-bottom: none;
}

table tr th {
    font-weight: bold;
    border: none;
    border-bottom: solid 2px var(--borders);
    margin: 0;
    padding: 10px 16px;
    transition-duration: 0.3s;
    transition-property: background-color;
}

table tr td {
    border: none;
    margin: 0;
    padding: 10px 16px;
    transition-duration: 0.3s;
    transition-property: background-color;
}

#write table tr td:hover,
#write table tr th:hover {
    background-color: var(--boxes);
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

/* custom container */
.custom-block {
    margin: 1rem 0;
    border-left: 0.2rem solid;
    padding: 0.1rem 1.5rem;
    overflow-x: auto;
}
.custom-block-title {
    margin-bottom: -0.4rem;
    font-weight: 600;
}
.custom-block.tip{
    background-color: var(--bg-color-page);
    border-color: var(--color-primary);
}
.custom-block.warning{
    border-color: var(--warning-color-border);
    color: var(--warning-color);
    background-color: var(--warning-color-bg);
}
.custom-block.danger{
    border-color: #c00;
    color: #4d0000;
    background-color: #ffe6e6;
}
.custom-block.info{
    background-color: #f3f5f7;
    border-color: var(--c-text-light-2);
}