@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* overflow: hidden; */
}
.md-title:before {
    display: block;
    height: 72px;
    margin-top: -72px;
    content: "";
}
.prose p {
    text-align: justify;
}
.custom-block {
    padding-left: 15px;
    border-left: 5px solid
}
.custom-block .custom-block-title {
    font-weight: 600;
}
.custom-block.tip {
    border-color: #5046e5;
}
.custom-block.warning {
    border-color: #ffc107;
}

