@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* overflow: hidden; */
}
.md-title:before {
    display: block;
    height: 72px;
    margin-top: -72px;
    content: "";
}
.prose {
    max-width: none;
}
.prose p {
    text-align: justify;
}