html.dark {
    --bg-color-page: #090a1b;
    --bg-color: #161627;
    --bg-color-overlay: #1d1e1f;
    --text-color: #E5EAF3;
    --border-color: #4C4D4F;
    --color-header-bg: #191a2a;
}
html.huyan {
    --bg-color-page: #c7ebca;
    --bg-color: #d4f0d6;
    --color-header-bg: #bee8c1;
    --color-primary: #4fc058;
    --color-scroll-bg: #7cd083;
    --color-scroll: #a9e0ae;
}
html.haitian {
    --bg-color-page: #dce2f1;
    --bg-color: #e9edf6;
    --color-header-bg: #d3daed;
    --color-primary: #7d94cb;
    --color-scroll-bg: #93a6d4;
    --color-scroll: #bfcae5;
}
html.fugu {
    --bg-color-page: #f2efdd;
    --bg-color: #f7f5ea;
    --color-header-bg: #eeebd5;
    --color-primary: #cdc27d;
    --color-scroll-bg: #d6cc93;
    --color-scroll: #e7e1bf;
}
html.darkest {
    --bg-color-page: #171717;
    --bg-color: #202020;
    --color-header-bg: #111111;
    --text-color: #E5EAF3;
    --border-color: #4C4D4F;
    --color-scroll-bg: #313131;
    --color-scroll: #171717;
}
:root{
    /* color */
    --color-primary:#2caf92;;
    --bg-color-page: #f2f3f5;
    --bg-color: #ffffff;
    --bg-color-overlay: #ffffff;
    --text-color: #303133;
    --color-header-bg: #ffffff;
    --color-white: #ffffff;
    --color-scroll-bg: #d7dadd;
    --color-scroll: #edeff2;

    /* z-index */
    --nav-z-index: 20;
    --sub-nav-z-index: 10;
    --sidebar-z-index: 40;
    --overlay-z-index: 30;
    --index-top: 1000;
    --index-popper: 2000;

    --transition-duration: .3s;
    --transition-duration-fast: .2s;

    /* border */
    --border-radius-base: 4px;
    --border-radius-small: 2px;
    --border-radius-round: 20px;
    --border-radius-circle: 100%;
    --border-color: #dcdfe6;

    /* height */
    --header-height: 60px;
    --input-height: 35px;

    /* padding */
    --main-padding: 20px 30px;

    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--primary-color)
}